body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;

}

.head-container {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.card {
    background: white;
    border-radius:10px;
    width: 400px;
   overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
 
}

.course {
    padding: 15px;
}

.course h3 {
    font-size: 20px;
    margin: 10px 0;
}

.course p {
    color: #666;
    font-size: 20px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.price {
    margin-top: 10px;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 5px;
}

.new-price {
    color: red;
    font-weight: bold;
}